.blog-entry {
    @extend .container;
}

.blog-entry--list {
  @include make-row();
}

.blog-entry--single {
margin-bottom: ($grid-gutter-width * 3);
@include make-xs-column(18);
  @include make-sm-column(9);
@media screen and (min-width: $screen-md-min) {
  margin-bottom:($grid-gutter-width * 1.5) ;
  }
@media screen and (min-width: $screen-lg-min) {
  margin-bottom:($grid-gutter-width * 0) ;
}

}

.blog-entry--title {
}

.blog-entry--image {
  background-position: center;
  background-size: cover !important;
  padding-bottom: 60%;
  //border-top: ($grid-gutter-width / 2) solid $brand-primary;
}


.blog-entry-text {
  min-height: 120px;
  @media screen and (min-width: $screen-sm-min) {
  min-height: 200px;
  }
  @media screen and (min-width: $screen-md-min) {
    min-height: 190px;
  }
   @media screen and (min-width: $screen-lg-min) {
    min-height: 180px;
  }
  //border-bottom: 1px solid $gray-light;
}

.blog-entry--excerpt p {
  margin-right: ($grid-gutter-width * 3);
}
.blog-entry--single p a{
  @include link-underline-base($brand-primary , transparent);
  @include link-underline-position($font-size-base);
}

.blog-entry--single h2{
   color:  $gray-dark;
    font-size: $font-size-base;
    font-family: $font-family-sans-serif-demi;
    margin: ($grid-gutter-width * 3) 0 ($grid-gutter-width * 2) 0;
    @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h4;
  }
}

.blog-entry--single h2 a {
  @include link-underline-base($brand-primary , transparent);
  @include link-underline-position($font-size-base);
  @media screen and (min-width: $screen-md-min) {
    @include link-underline-position($font-size-h4);
  }
}


.blog-entry--meta {
  font-size: $font-size-small;
color: $gray-light;
}

.blog-entry--meta p a{
  @include link-underline-base($brand-primary , transparent);
  @include link-underline-position($font-size-small)

}

.blog-header {
  transform: translateZ(0);
  @include make-row();
}

.blog-hero {
    transform: translateZ(0);
    position: relative;
    @extend .container-fluid;
}

.blog-header--image {
    background-position: center !important;
    background-size: cover !important;
    transition: all 0.5s ease-in-out;
    padding-bottom: 60%;
    padding-bottom: 35vh;
    position: relative;
    opacity: 0.25;
   transform: translateZ(0);
    @media screen and (min-width: $screen-sm-min) {

    transition: all 0.5s ease;
    opacity: 0.55;
      padding-bottom: 50%;
  padding-bottom: 55vh;
    }
    @media screen and (min-width: $screen-lg-min) {
     padding-bottom: 35%;
  padding-bottom: 60vh;
    }

}



.blog-hero:hover .blog-header--image {
   @media screen and (min-width: $screen-sm-min) {
   opacity: 0.1;
}
}


.blog-header {
    color: $white;
    position: absolute;
    bottom:5%;
    @media screen and (min-width: $screen-sm-min) {
    bottom:10%;
  }

}

.blog-header--text a h1{

    color: $white;
    display: inline-block;
    font-size: $font-size-large;
    margin-bottom:  ($grid-gutter-width / 2);
    @media screen and (min-width: $screen-sm-min) {
       font-size: $font-size-h4;
    }
    @media screen and (min-width: $screen-md-min) {

    }
}


.blog-header--text {
  @include make-xs-column(18);
  @include make-sm-column(10);
}

.blog-header--text p, .blog-header--text a{
    color: $white;
     @media screen and (min-width: $screen-sm-min) {
        font-size: $font-size-base;
        line-height: 1.35;
    }
    @media screen and (min-width: $screen-md-min) {
      font-size: $font-size-h4;
    }
}

.blog-header--text a {
    @include link-underline-base($white);
    @include link-underline-position($font-size-base);
    @media screen and (min-width: $screen-sm-min) {
        @include link-underline-base($white);
        @include link-underline-position($font-size-h5);
    }
    @media screen and (min-width: $screen-md-min) {
      @include link-underline-base(transparent ,  $white);
      @include link-underline-position($font-size-h4);
    }
}

.blog-navigation {
  @extend .container-fluid;
   border-top: $gray-lighter 1px solid;
   background: $white;
}

.blog-navigation--links {
  @include make-xs-column(9);
  padding-top: ($grid-gutter-width * 4.5);
  padding-bottom:($grid-gutter-width * 3);

  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 6);
    padding-bottom:($grid-gutter-width * 4.5);
  }
}

.blog-navigation--links a {
  @include link-underline-base($brand-primary, transparent);
  @include link-underline-position($font-size-base);
}

.blog-frontpage--meta p, .blog-frontpage--meta ul {
@extend .hidden-xs;
}

.categories-p {
  color: $gray-light;
  float: none;
  @media screen and (max-width: ($screen-sm-min - 1)) {
     padding-top: ($grid-gutter-width * 3);
     padding-bottom: ($grid-gutter-width * 1.5);
  }
}


.link-left p a:first-child:before {
  @media screen and (min-width: $screen-sm-min) {
  content: "←";
  //font-family: $font-family-monospace;
  font-weight: normal;
  transition: all 0.3s ease;
  margin-right: $grid-gutter-width;
}
}
.link-left p a:hover:before {
  @media screen and (min-width: $screen-sm-min) {
    margin-right: ($grid-gutter-width * 2);
  }
}

.link-right p a:first-child:after {
  @media screen and (min-width: $screen-sm-min) {
  content: "→";
  //font-family: $font-family-monospace;
  font-weight: normal;
  transition: all 0.3s ease;
  margin-left: $grid-gutter-width;
}
}
.link-right p a:hover:after {
  @media screen and (min-width: $screen-sm-min) {
    margin-left: ($grid-gutter-width * 2);
  }
}

.blog-frontpage {
  @media screen and (min-width: $screen-sm-min) {
  margin-top: ($grid-gutter-width * 10);
}
}


.blog-frontpage--meta  {
  @include make-xs-column(18);
  padding-bottom:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
  padding-top:($grid-gutter-width * 6);
  padding-bottom:($grid-gutter-width * 4.5);
  }
}

.blog-frontpage--meta p{
  margin-bottom: 0px;
}

.blog-frontpage--meta p {
  float: left;
}

.blog-frontpage--meta ul {
  clear: both;
  margin-bottom: 0;
  @media screen and (min-width: $screen-sm-min) {
    clear: none;
  }
}

.blog-frontpage--meta li  {
  display: inline-block;
  padding-right: ($grid-gutter-width / 2);
}

.blog-frontpage--meta li:not(:last-child):after  {

  content: '/';
  padding-left: ($grid-gutter-width / 2 );

}

.blog-frontpage--meta a {
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-base);
}

.paged-section--meta  {
  padding-bottom:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
  padding-top:($grid-gutter-width * 6);
  padding-bottom:($grid-gutter-width * 4.5);
  }
 }

.paged-section--meta p{
  margin-bottom: 0px;
}

.paged-section--meta p {
  float: left;
}

.paged-section--meta ul {
  clear: both;
  margin-bottom: 0;
  @media screen and (min-width: $screen-sm-min) {
    clear: none;
  }
}

.paged-section--meta li  {
  display: inline-block;
  padding-right: ($grid-gutter-width / 2);
}

.paged-section--meta li:not(:last-child):after  {

  content: '/';
  padding-left: ($grid-gutter-width );

}

.paged-section--meta a {
  @include link-underline-base($brand-primary , transparent);
  @include link-underline-position($font-size-base);
}
