.home-header {
    @extend .container;
    transition: all 0.5s ease-in-out;

    @media screen and (min-width: $screen-sm-min) {
    margin-top: 100px;
    }

}

.home-header--row {
  @include make-row();
  transition: all 0.5s ease-in-out;

}

.home-header--image {
    background-position: center !important;
    background-size: cover !important;
    opacity: 0.25;
    min-height: 250px;
    height: 30vh;
    @include greyscale;
    @media screen and (min-width: $screen-sm-min) {
    // /padding-bottom: 40%;
    }
}



.home-header--text {
  @include make-xs-column(16);
  @include make-sm-column(14);
  @include make-sm-column(11);
  transition: all 0.5s ease-in-out;
   padding-top: 20%;
   padding-top: 10vh;
   @media screen and (min-width: $screen-sm-min) {
    padding-top: 20%;
    padding-top: 25vh;
    }
}




.home-header--text h1, .home-header--text h1 a{
    color: $dark-blue-grey;
    font-size: $font-size-h2;
    font-family: $font-family-sans-serif-medium;
    margin-bottom:  ($grid-gutter-width * 2);
    letter-spacing: -1px;

    @media screen and (min-width: $screen-sm-min) {
        font-size: $font-size-h2 ;
        margin-bottom:  0;
    }
    @media screen and (min-width: $screen-md-min) {
      font-size: $font-size-h1 ;
      margin-bottom:  0;


    }
}

 .home-header--text h1 a{

    @include link-underline-base($brand-primary , $white);
    @include link-underline-position($font-size-h2);
    @media screen and (min-width: $screen-sm-min) {
    @include link-underline-position($font-size-h2);
    }
    @media screen and (min-width: $screen-md-min) {
    @include link-underline-position($font-size-h1);

    }
}

.home-header--text p{
    color: $white;
     @media screen and (min-width: $screen-sm-min) {
        font-size: $font-size-h4;
        line-height: 1.35;
    }
    @media screen and (min-width: $screen-md-min) {
    }
}


.home-header .home-btn {
  background: transparent;
  margin-top: ($grid-gutter-width * 4);
  padding: ($grid-gutter-width * 1.5);
  transition: all 0.2s ease;

  @media screen and (min-width: $screen-md-min) {
    margin-top: ($grid-gutter-width * 3);
    padding: ($grid-gutter-width * 2) ($grid-gutter-width * 3);
  }
}
.home-header .home-btn:hover {

}

.home-header .home-btn span:after {
  content: "→";
  //font-family: $font-family-monospace;
  font-weight: normal;
  transition: all 0.3s ease;
  margin-left: -($grid-gutter-width);
  opacity: 0;
}
.home-header a:hover span:after {
  @media screen and (min-width: $screen-sm-min) {
    margin-left: $grid-gutter-width;
    opacity: 1;
  }
}
