.work-single--featured {
  @extend .container-fluid;
  transition: all 0.5s ease-in-out;
  background-position: center !important;
  background-size: cover !important;
  padding-bottom: 60%;
  @media screen and (min-width: $screen-sm-min) {
  padding-bottom: 50%;
  }
  @media screen and (min-width: $screen-lg-min) {
  padding-bottom: 35%;
  }

}


.work-single--overview {
  @extend .container-fluid;
    padding-top: ($grid-gutter-width * 4);
    padding-bottom: ($grid-gutter-width * 4);
    background: $dark-blue-grey;

  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 6);
    padding-bottom: ($grid-gutter-width * 3);
  }
}
.work-single--overview h1 {
  display: inline-block;
  font-size: $font-size-h4;
  color: $white;
  margin: 0;
  font-family: $font-family-sans-serif-medium;
  padding-bottom:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-h4;

  }
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3;
  }
}
.work-single--overview h4 {
  color: $white;
  margin: 0;
  padding-bottom:($grid-gutter-width * 1);
  font-family: $font-family-sans-serif-demi;
  font-size: $font-size-base;
   @media screen and (max-width: $screen-sm-min) {
    padding-top:($grid-gutter-width * 3);

   }
}

.work-single--overview p {
  color: $white;
  padding-bottom: ($grid-gutter-width * 3);
  float: left;
  @media screen and (min-width: $screen-sm-min) {
  float: none;
  }
}

.work-single--project-info {
  @include make-xs-column(18);
  @include make-sm-column(5);
     @media screen and (max-width: $screen-sm-min) {
    border-bottom: 1px solid $gray-light-border;
   }
}

.work-single--project-info p {
  padding-bottom: ($grid-gutter-width * 0);
}

.work-single--project-brief {
  @include make-xs-column(18);
  @include make-sm-column(10);
  @include make-sm-column-offset(2);
}

.work-single--overview-inverse {
    padding-top: ($grid-gutter-width * 4);
    padding-bottom: ($grid-gutter-width * 4);
    background: $white;
    border-bottom: 1px solid $gray-light-border;
  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 6);
    padding-bottom: ($grid-gutter-width * 3);
  }
}
.work-single--overview-inverse h1 {
  font-size: $font-size-h4;
  color: $brand-primary;
  margin: 0;
  padding-bottom:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-h4;

  }
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3;
  }
}
.work-single--overview-inverse h4 {
  color: $gray-dark;
  margin: 0;
  padding-bottom:($grid-gutter-width * 1);
  font-family: $font-family-sans-serif-demi;
  font-size: $font-size-base;
}
.work-single--overview-inverse p {

  padding-bottom: ($grid-gutter-width * 3);
  float: left;
  @media screen and (min-width: $screen-sm-min) {
  float: none;
  }
}








.work-content--block {
  @extend .container;

   padding-top:($grid-gutter-width * 3);
   padding-bottom:($grid-gutter-width * 1.5);
  @media screen and (min-width: $screen-sm-min) {
   padding-top:($grid-gutter-width * 6);
   padding-bottom:($grid-gutter-width * 3);
  //margin-bottom:($grid-gutter-width * 3);
  }
}
.work-content--block+.work-content--block {
  @extend .container;
  padding-top:($grid-gutter-width * 0);
   padding-bottom:($grid-gutter-width * 1.5);
  @media screen and (min-width: $screen-sm-min) {
    padding-top:($grid-gutter-width * 0);
   padding-bottom:($grid-gutter-width * 3);
  //margin-bottom:($grid-gutter-width * 3);
  }
}
.work-content--block-dark+.work-content--block {
  @extend .container;
  padding-top:($grid-gutter-width * 1.5);
   padding-bottom:($grid-gutter-width * 1.5);
  @media screen and (min-width: $screen-sm-min) {
    padding-top:($grid-gutter-width * 3);
   padding-bottom:($grid-gutter-width * 3);
  //margin-bottom:($grid-gutter-width * 3);
  }
}

.work-content {
  @include make-row();

    @media screen and (min-width: $screen-sm-min) {
  }


}

.work-content--1col {
    @include make-xs-column(18);

}
.work-content--2col {
    @include make-xs-column(18);
    @include make-sm-column(9);

}
.work-content--2col+.work-content--2col {
    padding-top:($grid-gutter-width * 1.5);
    @media screen and (min-width: $screen-sm-min) {
    padding-top:($grid-gutter-width * 0);
}
}
.work-content--3col {
    @include make-xs-column(18);
    @include make-sm-column(6);
}
.work-content--3col+.work-content--3col {
    padding-top:($grid-gutter-width * 1.5);
    @media screen and (min-width: $screen-sm-min) {
    padding-top:($grid-gutter-width * 0);
}
}

.work-content--2col p {
@media screen and (min-width: $screen-sm-min) {
    padding-right:($grid-gutter-width * 1.5);
}
}
.work-content--2col p img {
@media screen and (min-width: $screen-sm-min) {
    padding-left:($grid-gutter-width * 1.5);
}
}

.work-content--3col p {
@media screen and (min-width: $screen-sm-min) {
    padding-right:($grid-gutter-width * 1.5);
}
}
.work-content--3col p img {
@media screen and (min-width: $screen-sm-min) {
    padding-left:($grid-gutter-width * 1.5);
}
}


.work-content--block-dark {
    background: $dark-blue-grey !important;
  color: $white;
  @extend .container-fluid;
   padding-top:($grid-gutter-width * 3);
   padding-bottom:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
   padding-top:($grid-gutter-width * 6);
   padding-bottom:($grid-gutter-width * 6);

  }
}

.work-content--block-dark .container {
  background:transparent;
}



.work-content h4 {
  font-family: $font-family-sans-serif-demi;
  font-size: $font-size-base;
}

.work-content--block h4 {
  color: $brand-grey;
}

.work-content p{
}

.work-content p a{
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($font-size-base);
  color: $gray;

}


.work-content--block img {
  @extend .img-responsive;
  @media screen and (min-width: $screen-sm-min) {
  }
}
.work-content--block p+h4 {
  padding-top: ($grid-gutter-width * 3);
}
.work-content--block-dark p+h4 {
  padding-top: ($grid-gutter-width * 3);
}






.work-content--block.dark h4 {
  color: $white;
}

.work-content--block.dark+.work-content--block{
  padding-top:($grid-gutter-width * 3);
  padding-bottom:($grid-gutter-width * 3);
  //border: 1px solid red;
  @media screen and (min-width: $screen-sm-min) {
  padding-top:($grid-gutter-width * 6);
  padding-bottom:($grid-gutter-width * 6);
  }
}

.project-content--block.banner {
  color: $white;
  font-family: $font-family-sans-serif-demi;
  background: $dark-blue-grey;
  padding-top:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
  padding-top:($grid-gutter-width * 6);
  }
}

.project-content--block.banner h3{
  font-size: $font-size-h4;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3;
  }
  margin: 0;
}

.project-content--block.banner a{
  color: $white;
  @include link-underline-base($white, $brand-primary);
  @include link-underline-position($font-size-h4);
  @media screen and (min-width: $screen-md-min) {
    @include link-underline-position($font-size-h3);
  }
}

.project-content--block.banner a:after {
    content: "→";
  //font-family: $font-family-monospace;
  font-weight: normal;
  transition: all 0.3s ease;
  margin-left: -($grid-gutter-width * 3);
  opacity: 0;
}
.project-content--block.banner a:hover:after {
  @media screen and (min-width: $screen-sm-min) {
    margin-left: ($grid-gutter-width);
    opacity: 1;
  }

}









.work-single--navigation {
  padding-top: ($grid-gutter-width * 3);
  padding-bottom:($grid-gutter-width * 3);


  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 6);
    padding-bottom:($grid-gutter-width * 6);

  }
}



.work-single--content p a{
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($font-size-base);
  color: $gray;
}

.work-single--navigation a, .blog-single--author a {
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($font-size-base);
}

.work-single--content blockquote a {
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($blockquote-font-size);

}


.img-half {
  width: 50%;
  float: left;
}

.img-third {
  width: 33%;
  float: left;
}

.img-quarter {
  width: 25%;
  float: left;
}






