.work-single--featured {
  @extend .container-fluid;
  transition: all 0.5s ease-in-out;
  background-position: center !important;
  background-size: cover !important;
  padding-bottom: 70%;
  padding-bottom: 35vh;

  @media screen and (min-width: $screen-sm-min) {
  padding-bottom: 60%;
  padding-bottom: 50vh;
  margin-top: 100px;

  }
  @media screen and (min-width: $screen-lg-min) {
  padding-bottom: 35%;
  padding-bottom: 50vh;
  }

}


.work-single--overview {
  @extend .container-fluid;
    padding-top: ($grid-gutter-width * 4);
    padding-bottom: ($grid-gutter-width * 4);
    background: $dark-blue-grey;

  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 6);
    padding-bottom: ($grid-gutter-width * 3);
  }
}
.work-single--overview h1 {
  //display: inline-block;
  font-size: $font-size-h4;
  color: $white;
  margin: 0;
  font-family: $font-family-sans-serif-medium;
  padding-bottom:($grid-gutter-width * 3);
  padding-right: ($grid-gutter-width * 6);
  @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-h4;
    padding-right: 0;
  }
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3;
  }
}
.work-single--overview h4 {
    color: $light-blue-grey;
  margin: 0;
  padding-bottom:($grid-gutter-width * 0.5);
  font-family: $font-family-sans-serif-demi;
  font-size: $font-size-base;
   @media screen and (max-width: $screen-sm-min) {
    padding-top:($grid-gutter-width * 3);

   }
}

.work-single--overview p {
  color: $white;
  padding-bottom: ($grid-gutter-width * 0);
  @media screen and (min-width: $screen-sm-min) {
  padding-bottom: ($grid-gutter-width * 3);
  }
}


.work-single--project-info {
  @include make-xs-column(18);
  @include make-sm-column(5);
     @media screen and (max-width: $screen-sm-min) {
    border-bottom: 1px solid $gray-light-border;
   }
}

.work-single--project-info p {
  padding-bottom:($grid-gutter-width * 1.5);
  float: none;
  color: $light-blue-grey;
}

.work-single--project-brief {
  @include make-xs-column(18);
  @include make-sm-column(8);
  @include make-sm-column-offset(4);
  @media screen and (max-width: $screen-sm-min) {
  padding-top:($grid-gutter-width * 4.5);
  }

}

.work-single--project-brief p {
  padding-bottom:($grid-gutter-width * 1.5);
  @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-large;

}
}

.work-single--project-brief p+p {
  padding-top:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
font-size: $font-size-base;
}
}

.work-single--project-brief a {
  color: $white;
  transition: opacity 0.5s ease;
  opacity: 1;
  @include link-underline-base($white, transparent);
  @include link-underline-position($font-size-base);
  @media screen and (min-width: $screen-sm-min) {

   }
}


.work-single--project-brief a:after {
 content: "→";
  //font-family: $font-family-monospace;

  font-weight: normal;
  transition: all 0.3s ease;
  margin-left: ($grid-gutter-width);
  opacity: 1;
}
.work-single--project-brief a:hover:after {
  @media screen and (min-width: $screen-sm-min) {
    margin-left: $grid-gutter-width * 2;


  }

}




.work-single--project-brief p a:hover {
   opacity: 0.5;
}



.work-content--block {
  @extend .container;
   padding-top:($grid-gutter-width * 3);
   padding-bottom:($grid-gutter-width * 1.5);
  @media screen and (min-width: $screen-sm-min) {
   padding-top:($grid-gutter-width * 6);
   padding-bottom:($grid-gutter-width * 6);
  }
}
.work-content--block+.work-content--block {
     padding-top:($grid-gutter-width * 0);
   padding-bottom:($grid-gutter-width * 1.5);
  @media screen and (min-width: $screen-sm-min) {
     padding-top:($grid-gutter-width * 0);
   padding-bottom:($grid-gutter-width * 6);
  }
}

.work-content--block-dark {
  background: $dark-blue-grey !important;
  color: $white;
  @extend .container-fluid;
   //padding-top:($grid-gutter-width * 3);
   //padding-bottom:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
   //padding-top:($grid-gutter-width * 6);
   //padding-bottom:($grid-gutter-width * 6);

  }
}

.work-content--block-dark .container {
  background:transparent;
}



.full-width--image, .full-width-content {
  @extend .container-fluid;
  background: $white;
}

.full-width-content img {
  @extend .img-responsive;
}
.full-width-content {
  //margin-bottom: -11px;
}


.work-content--block+.work-content--block-dark {


  @media screen and (min-width: $screen-sm-min) {

  //margin-bottom:($grid-gutter-width * 3);
  }
}

.work-content {
  @include make-row();
    @media screen and (min-width: $screen-sm-min) {
  }
}


.work-content blockquote {
  padding: 0 $line-height-computed;
  margin: ($grid-gutter-width * 3) 0 ($grid-gutter-width * 0);
  font-size: $blockquote-font-size;
  border-left: 1px solid $blockquote-border-color;
  color: $dark-blue-grey;
  font-family:'AvenirNextLTW01-Italic';
   @media screen and (min-width: $screen-sm-min) {
      margin: ($grid-gutter-width * 0) 0 ($grid-gutter-width * 0);
  }

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.work-content blockquote cite{
font-size: $font-size-base;
color: $gray-light;
display: inline-block;
margin-top: $grid-gutter-width * 1.5;
  }

.work-content--1col {
    @include make-xs-column(18);

}
.work-content--2col {
    @include make-xs-column(18);
    @include make-sm-column(9);

}
.work-content--2col+.work-content--2col {
    padding-top:($grid-gutter-width * 1.5);
    @media screen and (min-width: $screen-sm-min) {
    padding-top:($grid-gutter-width * 0);
}
}
.work-content--3col {
    @include make-xs-column(18);
    @include make-sm-column(6);
}
.work-content--3col+.work-content--3col {
    padding-top:($grid-gutter-width * 3);
    @media screen and (min-width: $screen-sm-min) {
    padding-top:($grid-gutter-width * 0);
}
}

.work-content--2col p {
@media screen and (min-width: $screen-sm-min) {
    padding-right:($grid-gutter-width * 1.5);
}
}
.work-content--2col p img {
@media screen and (min-width: $screen-sm-min) {
    padding-left:($grid-gutter-width * 1.5);
}
}

.work-content--3col p {
@media screen and (min-width: $screen-sm-min) {
    padding-right:($grid-gutter-width * 1.5);
}
}
.work-content--3col p img {
@media screen and (min-width: $screen-sm-min) {
    padding-left:($grid-gutter-width * 1.5);
}
}


.work-content-one--third {
    @include make-xs-column(18);
    @include make-md-column(6);

}

.work-content-two--third {
    @include make-xs-column(18);
    @include make-md-column(12);

}

.work-content-one--third+.work-content-two--third {
    padding-top:($grid-gutter-width * 3);
    @media screen and (min-width: $screen-md-min) {
    padding-top:($grid-gutter-width * 0);
}
}

.work-content-one--third-reverse {
    @include make-xs-column(18);
    @include make-md-column(6);


}

.work-content-two--third-reverse {
    @include make-xs-column(18);
    @include make-md-column(12);

}

.work-content-two--third-reverse+.work-content-one--third-reverse {
    padding-top:($grid-gutter-width * 3);
    @media screen and (min-width: $screen-md-min) {
    padding-top:($grid-gutter-width * 0);
}
}





.work-content h4 {
  font-family: $font-family-sans-serif-demi;
  font-size: $font-size-base;
}

.work-content--block h4 {
  color: $brand-grey;
}

.work-content--block-dark h4 {
  color: $white;
}

.work-content p{
}

.work-content p a{
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($font-size-base);
  color: $gray;

}


.work-content--block img {
  @extend .img-responsive;
  @media screen and (min-width: $screen-sm-min) {
  }
}
.work-content--block p+h4 {
  padding-top: ($grid-gutter-width * 3);
}
.work-content--block-dark p+h4 {
  padding-top: ($grid-gutter-width * 3);
}






.work-content--block.dark h4 {
  color: $white;
}

.work-content--block.dark+.work-content--block{
  padding-top:($grid-gutter-width * 3);
  padding-bottom:($grid-gutter-width * 3);
  //border: 1px solid red;
  @media screen and (min-width: $screen-sm-min) {
  padding-top:($grid-gutter-width * 6);
  padding-bottom:($grid-gutter-width * 6);
  }
}

.project-content--block.banner {
  color: $white;
  font-family: $font-family-sans-serif-demi;
  background: $dark-blue-grey;
  padding-top:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
  padding-top:($grid-gutter-width * 6);
  }
}

.project-content--block.banner h3{
  font-size: $font-size-h4;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3;
  }
  margin: 0;
}

.project-content--block.banner a{
  color: $white;
  @include link-underline-base($white, $brand-primary);
  @include link-underline-position($font-size-h4);
  @media screen and (min-width: $screen-md-min) {
    @include link-underline-position($font-size-h3);
  }
}

.project-content--block.banner a:after {
    content: "→";
  //font-family: $font-family-monospace;
  font-weight: normal;
  transition: all 0.3s ease;
  margin-left: -($grid-gutter-width * 3);
  opacity: 0;
}
.project-content--block.banner a:hover:after {
  @media screen and (min-width: $screen-sm-min) {
    margin-left: ($grid-gutter-width);
    opacity: 1;
  }

}









.work-single--navigation {
  padding-top: ($grid-gutter-width * 3);
  padding-bottom:($grid-gutter-width * 3);


  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 6);
    padding-bottom:($grid-gutter-width * 6);

  }
}



.work-single--content p a{
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($font-size-base);
  color: $gray;
}

.work-single--navigation a, .blog-single--author a {
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($font-size-base);
}

.work-single--content blockquote a {
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($blockquote-font-size);

}

.main-gallery {
width: 100%;
}
.gallery-cell {
 width: 100%; /* full width */
 padding-bottom: 100%;
     background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
 margin-right: 0px;
   @media screen and (min-width: $screen-sm-min) {
   padding-bottom: 60%;
   }
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 45px;
  height: 45px;

  @media screen and (min-width: $screen-sm-min) {
  width: 75px;
  height: 75px;
   }
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: $dark-blue-grey;

}
.flickity-prev-next-button.no-svg {
  color: $dark-blue-grey;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 5%;
}
/* white circles */
.flickity-page-dots .dot {
  width: 7px;
  height: 7px;
  opacity: 0.3;
  background: $dark-blue-grey;
  border: 1px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  opacity: 0.7;
}








