
.work-home {
  @extend .container-fluid;
  background: $white;
  transform: translateZ(0);
  position: relative;
  margin-bottom: $grid-gutter-width * 0;
  @media screen and (min-width: $screen-sm-min) {
  margin-bottom: $grid-gutter-width * 0;
  }
}

.work-home--content {
@extend .container;
}

.work-home--image {
   transform: translateZ(0);
    background-position: bottom !important;
    background-size: cover !important;
    padding-bottom: 60%;
    @media screen and (min-width: $screen-sm-min) {
    opacity: 1;
    padding-bottom: 50%;
    transition: all 0.25s ease-in-out;
      transform: translateZ(0);
  }
  @media screen and (min-width: $screen-md-min) {
  }
}
.work-home--text {
  @include make-row();
   transform: translateZ(0);
  transition: all 0.5s ease-in-out;
  background:transparent;

   @media screen and (max-width: $screen-sm-min) {
      margin-bottom: $grid-gutter-width * 1.5;
   }
  @media screen and (min-width: $screen-sm-min) {
    position: absolute;
    bottom:2.5%;
    opacity: 0;
    color: $white
  }
}

.work-home:hover .work-home--text {
  opacity: 1;
  @media screen and (min-width: $screen-sm-min) {
  transform: translateZ(0);
  bottom:7.5%;
}
}
.work-home:hover .work-home--image{
  @media screen and (min-width: $screen-sm-min) {
  opacity: 0.25;
}
}

.work-home--text .work-home--text--inner{
  @include make-xs-column(18);
}




.work-home--text  h2{
    color:  $gray-dark;
    font-size: $font-size-base;
    font-family: $font-family-sans-serif-demi;
    margin: ($grid-gutter-width * 2) 0 ($grid-gutter-width * 1) 0;
    @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-h4;
    color: $white;
    }
    @media screen and (min-width: $screen-md-min) {
    //font-size: $font-size-h4;
    color: $white;
    }
}

.work-home--text h2 a {
  @include link-underline-base($brand-primary , transparent);
  @include link-underline-position($font-size-base);
  @media screen and (min-width: $screen-sm-min) {
    color: $white;
    @include link-underline-base(transparent , $white);
    @include link-underline-position($font-size-h4);
  }
}

.client--wrapper {
@include make-row();
}
.work-home--client {
  @include make-xs-column(18);
color: $white;
display: none;
@media screen and (min-width: $screen-sm-min) {
  display: block;
position: absolute;

top:10%;
}
}
