// Max width for container fluid
$max-width: 1470px;

//colours
$brand-grey:             #42484D;
$dark-blue-grey: #1b1b26;



// Additional font weights
$font-family-sans-serif-light:  'Avenir Next W01 Light', Helvetica Neue, Arial, sans-serif;
$font-family-sans-serif:  'AvenirNextLTW01-Regular', Helvetica Neue, Arial, sans-serif;
$font-family-sans-serif-medium:  'AvenirNextLTW01-Medium', Helvetica Neue, Arial, sans-serif;
$font-family-sans-serif-demi:  'Avenir Next LT W01 Demi', Helvetica Neue, Arial, sans-serif;



// Divider Border
$border-bottom-divide: 1px solid;

//Heading border bottom
$border-bottom-heading:  1px solid;
$border-bottom-heading-lg:  3px solid;

// Nav padding
$nav-link-padding-small:                    10px 0px;

